.box {
  :global{
    .ant-modal-content{
      border-radius: 20px;
      overflow: hidden;
    }
    .ant-modal-body{
      height: 400px;
      padding: 0 !important;

    }
  }
}

.content {
  background: #fff;
}