.appeal-bar {
  background-image: url('/images/appeal-background.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding: 72px 0;

  .container > .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .title {
      font-size: 28px;
      line-height: 40px;
      color: #ffffff;
      margin-bottom: 36px;
      font-weight: 500;
    }
  }
}
