@import '@styles/feature-bar.module.scss';
@import '@styles/appeal-bar.module.scss';

.feature {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100vw;
  overflow-x: hidden;

  &.contact-platform .bg {
    width: 100%;
    height: 1400px;
    background: linear-gradient(30deg, #fff, rgba(5, 85, 255, 0.25));
    position: absolute;
    transform: rotate(15deg);
    top: -1060px;
    filter: blur(200px);

    &.moz {
      filter: blur(800px);
      transform: rotate(10deg);
      left: 20%;
    }
  }

  &.customer-acquisition .bg {
    width: 100%;
    height: 1400px;
    background: linear-gradient(30deg, #fff, rgba(255, 98, 23, 0.25));
    position: absolute;
    top: -1060px;
    filter: blur(200px);

    &.moz {
      filter: blur(800px);
      transform: rotate(10deg);
      left: 20%;
    }
  }

  &.sop .bg {
    width: 100%;
    height: 1400px;
    background: linear-gradient(-30deg, rgba(109, 80, 255, 0.25), #fff);
    position: absolute;
    top: -1060px;
    filter: blur(200px);

    &.moz {
      filter: blur(800px);
      transform: rotate(-10deg);
      right: 10%;
    }
  }

  &.management .bg {
    width: 100%;
    height: 1400px;
    background: linear-gradient(-30deg, rgba(13, 229, 146, 0.25), #fff);
    position: absolute;
    top: -1060px;
    filter: blur(200px);

    &.moz {
      filter: blur(800px);
      transform: rotate(-10deg);
      right: 10%;
    }
  }

  &.data-center .bg {
    width: 100%;
    height: 1400px;
    background: linear-gradient(-30deg, rgba(5, 85, 255, 0.25), #fff);
    position: absolute;
    top: -1060px;
    filter: blur(200px);

    &.moz {
      filter: blur(800px);
      transform: rotate(-10deg);
      right: 10%;
    }
  }

  .container {
    padding: 160px 0 88px 0;
    width: 100%;
    z-index: 2;

    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 100px;
    background-size: 500px 450px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    h1 {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 600;
      font-size: 56px;
      line-height: 78px;
      color: #364256;
    }

    .brief {
      font-family: PingFang SC;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 29px;
      margin: 32px 0 40px 0;
      height: 100px;

      color: #869bb9;
      max-width: 600px;
    }

    .buttons-bar {
      display: flex;
      flex-direction: row;
      align-items: center;

      .read-docs {
        font-family: PingFang SC;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        color: #0555ff;
        margin-left: 24px;
      }
    }

    .data-bar {
      width: calc(100% - 64px);
      margin: 0 32px;
      background: #ffffff;
      border: 1px solid #f2f6ff;
      box-sizing: border-box;
      box-shadow: 0px 20px 60px -20px rgba(5, 85, 255, 0.1);
      border-radius: 16px;
      padding: 48px 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 120px;

      .item {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .info {
          margin-left: 22px;
          h3 {
            font-family: DINPro;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;
            color: #364256;
          }

          div {
            font-family: PingFang SC;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #54657e;
          }

          div:lang(en) {
            font-family: Gill Sans, sans-serif;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #54657e;
          }
        }
      }
    }
  }
}

.feature-description {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 45px;
      text-align: center;
      color: #364256;
    }

    .brief {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 36px;
      text-align: center;
      color: #869bb9;
      margin: 32px 0;
      font-weight: 300;
    }

    .features-box {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 48px;

      .right {
        flex-shrink: 0;
        margin-left: 24px;
      }

      .left {
        padding-left: 16px;
        padding-bottom: 16px;
        h3 {
          font-family: PingFang SC;
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 45px;
          color: #364256;
          margin-bottom: 32px;
        }

        .item {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;

          &:not(:first-child) {
            margin-top: 36px;
          }

          .content {
            font-family: PingFang SC;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 150%;
            color: #869bb9;
            margin-left: 8px;
            font-weight: 300;

            .title {
              font-family: PingFang SC;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 24px;
              color: #54657e;
              margin-bottom: 4px;
            }

            .title:lang(en) {
              font-family: Gill Sans, sans-serif;
              font-style: normal;
              font-weight: 500;
              font-size: 18px;
              line-height: 24px;
              color: #54657e;
              margin-bottom: 4px;
            }
          }
        }
      }
    }
  }
}

.feature-appeal {
  background: linear-gradient(0deg, #fbfbfd, #fbfbfd), #ffffff;
  .container {
    padding: 72px 0;
    h1 {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 45px;
      text-align: center;
      color: #364256;
      margin-bottom: 48px;
    }

    .items {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);

      .item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        font-family: PingFang SC;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #364256;

        p:first-of-type {
          margin-top: 16px;
        }
      }
    }
  }
}

.feature-bar {
  width: 100vw;
  overflow-x: hidden;

  .container {
    padding: 72px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h1 {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 45px;
      text-align: center;
      color: #364256;
      margin-bottom: 16px;
    }
  }
}

.security {
  width: 100vw;
  overflow: hidden;

  .bg {
    width: 100%;
    height: 1400px;
    background: linear-gradient(30deg, #fff, rgba(5, 85, 255, 0.25));
    position: absolute;
    transform: rotate(15deg);
    top: -1060px;
    filter: blur(200px);

    &.moz {
      filter: blur(800px);
      transform: rotate(10deg);
      left: 20%;
    }
  }

  .container {
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 100px;
    background-size: 500px 450px;
    z-index: 2;

    h1 {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 600;
      font-size: 56px;
      line-height: 78px;
      color: #364256;
      margin-top: calc(72px + 160px);
    }

    .subtitle {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 180%;
      color: #54657e;
      margin-top: 24px;
    }

    &.brief {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-bottom: 100px;

      h3 {
        font-family: PingFang SC;
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 45px;
        text-align: center;
        color: #364256;
        margin-bottom: 24px;
      }

      .content {
        font-family: PingFang SC;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 200%;
        color: #54657e;
        width: 100%;

        &:not(:first-child) {
          margin-top: 24px;
        }
      }
    }
  }
}

.security-measures {
  background: linear-gradient(180deg, #f7f7fb 0%, rgba(255, 255, 255, 0) 100%);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 72px 0;

    h3 {
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 45px;
      text-align: center;
      color: #364256;
      margin-bottom: 64px;
    }

    .measures {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 66px;
      width: 100%;

      .item {
        h4 {
          font-family: PingFang SC;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          line-height: 25px;
          color: #364256;
          margin: 12px 0;
        }

        .content {
          font-family: PingFang SC;
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 200%;
          color: #54657e;
        }
      }
    }
  }
}

.en {
  .left {
    h3 {
      font-family: Gill Sans, sans-serif;
      font-size: 24px !important;
      line-height: unset !important;
    }
  }

  .contact-platform,
  .data-center {
    h1 {
      font-family: Gill Sans, sans-serif;
      font-size: 40px !important;
    }
  }
}
