@import '~swiper/scss';
@import '~swiper/scss/pagination';
@import '~swiper/scss/parallax';

.feature-page {
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  .container {
    max-width: 1400px !important;

    .mask-wrapper {
      width: 100%;
      max-width: 1440px;
      height: 700px;
      position: absolute;
      z-index: 80;
      pointer-events: none;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .mask {
        width: 100px;
        height: 700px;
        background-image: linear-gradient(90deg, #fbfbfd, #fbfbfd00);
        margin-left: 20px;
      }

      .mask-reverse {
        width: 100px;
        height: 700px;
        background-image: linear-gradient(270deg, #fbfbfd, #fbfbfd00);
        margin-right: 20px;
      }
    }
  }

  .magic-background {
    width: 100%;
    height: 700px;
    max-width: 1440px !important;
    position: absolute;
    z-index: 1;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    filter: blur(200px);

    .orange {
      width: 180px;
      height: 180px;
      background-color: #eda676;
      border-radius: 50%;
      position: absolute;
      transform: translate(-60px, -60px) scale(1.2);
      justify-self: flex-end;
    }

    .blue {
      width: 180px;
      height: 180px;
      background-color: #245bf3;
      border-radius: 50%;
      position: absolute;
      transform: translate(120px, 120px);
    }

    .green {
      width: 120px;
      height: 120px;
      background-color: #66dcc0;
      border-radius: 50%;
      position: absolute;
    }
  }

  .feature-swiper {
    width: 100%;
    height: 700px;
    max-width: 1440px !important;
    // background here

    .pagination {
      display: flex;
      flex-direction: row;
      position: absolute;
      transform: translate(100px, -120px);
      z-index: 90;
      & > div {
        width: 40px;
        height: 4px;
        background-color: #fff;
        cursor: pointer;
        border-radius: 2px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        box-shadow: 1px 1px 1px rgba(147, 147, 147, 0.1);

        &:not(:first-child) {
          margin-left: 4px;
        }

        & > div {
          transition: all 0.3s;
          width: 100%;
          height: 100%;
          background-color: #eaf0f7;
          border-radius: 2px;
        }

        @keyframes progress {
          from {
            width: 0;
          }
          to {
            width: 100%;
          }
        }

        &.active > div {
          background-color: #fc790d;
          animation: progress 6s linear;
        }
      }
    }

    .feature-swiper-item {
      width: 100%;
      height: 700px;
      padding: 0 100px;
      background-color: #fbfbfd;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      user-select: none;
      background-color: inherit !important;

      .image {
        flex-shrink: 0;
      }

      .content {
        flex: 1;
        max-width: 550px;
        margin-bottom: 140px;

        .title {
          font-family: PingFang SC;
          font-style: normal;
          font-weight: 600;
          font-size: 40px;
          line-height: 56px;
          color: #364256;
        }

        .subtitle {
          font-family: PingFang SC;
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 45px;
          color: #364256;
        }

        .brief {
          font-family: PingFang SC;
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 29px;
          text-align: justify;
          color: #364256;
          margin: 24px 0;
          margin-bottom: 44px;
        }

        .read-more {
          font-family: PingFang SC;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          line-height: 160%;
          color: #364256;
          cursor: pointer;
          background-color: #fff;
          padding: 12px 32px;
          border: 1px solid #eee;
          border-radius: 8px;
          transition: all 0.3s;

          &:hover {
            background-color: #fafafa;
          }
        }

        .num {
          z-index: 0;
          transform: translateY(54px);
        }
      }
    }
  }
}
