.footer-bar {
  padding: 0;

  .registration-container {
    width: 100%;
    background: #f9f9f9;
    padding: 24px 0;

    .friendship-links,
    .registration {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .friendship-links {
      margin-bottom: 12px;
    }

    span,
    a {
      margin: 0 8px;
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      color: #54657e;
      user-select: none;
    }

    .registration > span,
    .registration > a,
    .registration > a > span {
      color: #aab9ca;
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  .container > .menu-container {
    width: 100%;
    padding: 56px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    .menu-group {
      padding-top: 16px;

      .title {
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #aab9ca;
        margin-bottom: 24px;
      }

      .menus {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        a,
        div {
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: #54657e;
          margin-bottom: 16px;

          &:nth-child(4) {
            margin-bottom: 32px;
          }
        }
      }
    }
  }
}
