@import '@styles/header-bar.module.scss';
@import '@styles/index.module.scss';
@import '@styles/about-us.module.scss';
@import '@styles/features.module.scss';
@import '@styles/footer.module.scss';

// @tailwind base;
@tailwind components;
@tailwind utilities;
.redText{
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PingFang SC', -apple-system, BlinkMacSystemFont,
    'Microsoft YaHei', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

#__next {
  min-width: 1400px;
}

#contact-modal {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 16px rgb(5 85 255 / 15%);

  .modal {
    width: 750px;
    height: 520px;
    border-radius: 16px;
    background-color: #fff;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    margin-bottom: 10vh;

    .close-bar {
      width: 310px;
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      margin: 18px;
      transform: translate(400px, 0px);
      opacity: 0.8;

      .switch-mode {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        margin-bottom: 4px;
        user-select: none;

        .tips {
          font-style: normal;
          font-weight: 400;
          font-size: 13px;
          color: #666666;
          margin-left: 4px;
          margin-right: 16px;
        }
      }

      .close-btn {
        cursor: pointer;
        &:hover {
          opacity: 1;
        }
      }
    }

    .left {
      width: 50%;
      flex-shrink: 0;
      height: 100%;
      padding: 50px;
      // background: linear-gradient(to right, #ddd, #eee);
      background: linear-gradient(
        147.8deg,
        rgba(102, 71, 255, 0.1) 19.05%,
        rgba(5, 85, 255, 0.1) 87.88%
      );
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      line-height: 1.5;

      font-size: 13px;
      font-weight: 300;
      font-style: normal;
      font-weight: 400;
      line-height: 15px;
      color: #555;

      h2 {
        font-style: normal;
        font-weight: bolder;
        font-size: 22px;
        line-height: 27px;
        color: #333;
        font-weight: bold;
      }

      .orange {
        color: #f5790e;
      }

      .title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-end;

        .num {
          font-weight: 600;
          font-size: 28px;
          padding-bottom: 2px;
          margin-right: 4px;
        }

        font-weight: bold;
        font-size: 18px;
        color: #f5790e;
      }

      .content {
        width: 100%;
        color: #555;

        .item {
          margin: 8px 0;
          span {
            margin-left: 8px;
          }
        }
      }
    }

    .right {
      flex: 1;
      padding: 50px;

      .qrcode-bar {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 72px;

        .qrcode {
          width: 200px;
          height: 200px;
        }

        .appeal {
          font-weight: 400;
          font-size: 18px;
          line-height: 25px;
          color: #ff5e1e;
          text-align: center;
          margin-top: 16px;
        }
      }

      h3 {
        font-weight: 500;
        color: #333;
      }

      .success-tips {
        position: absolute;

        .auto-close {
          color: #869bb9;
          margin-top: 8px;
        }
      }

      input {
        width: 100%;
        background-color: #fafafa;
        padding: 12px 16px;
        font-size: 14px;
        -webkit-appearance: none;
        border: 1px solid #eee;
        border-radius: 4px;
        margin-top: 24px;

        &:focus {
          outline: unset !important;
        }
      }

      .tips,
      .login {
        font-size: 13px;
        color: #666;
        text-align: center;
        margin-top: 24px;
      }

      .login {
        a {
          color: #f5790e;
        }
      }

      button {
        width: 100%;
        height: 44px;
        padding: 16px 36px;
        background-image: linear-gradient(90deg, #2e6df3, #0555ff);
        box-shadow: 0px 35px 50px -15px rgba(52, 128, 239, 0.3);
        border-radius: 4px;
        color: #fff;
        border-color: unset !important;
        border-image: unset !important;
        border-width: 0 !important;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        transition: all 0.3s;
        cursor: pointer;
        margin-top: 24px;

        &:hover {
          opacity: 0.8;
        }

        &:active {
          color: rgba(255, 255, 255, 0.95);
        }

        &:disabled {
          background-color: #6e99f5 !important;
          opacity: 0.8;
          background-image: unset;
          cursor: not-allowed;
        }
      }
    }
  }
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;

  .app {
    width: 100%;
  }

  a {
    text-decoration: none;
    user-select: none;
  }
}

.primary-link {
  font-family: PingFang SC;
  font-style: normal;
  font-size: 16px;
  color: #0555ff !important;
  transition: all 0.3s;

  &.round {
    height: 36px;
    padding: 4px 16px;
    border-radius: 18px;
    border: 1px solid #0555ff;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);

    &:hover {
      background-color: #0555ff;
      color: #fff !important;
    }
  }
}

button {
  user-select: none;
}

button.primary-button {
  height: 56px;
  padding: 16px 42px;
  background: #0555ff;
  background-image: linear-gradient(90deg, #1c60f3, #0555ff);
  box-shadow: 0px 35px 50px -15px rgba(52, 128, 239, 0.3);
  border-radius: 100px;
  color: #fff;
  border-color: unset !important;
  border-image: unset !important;
  border-width: 0 !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-1px);
    opacity: 0.8;
  }

  &:active {
    transform: translateY(1px);
    color: rgba(255, 255, 255, 0.95);
  }
}

button.white-button {
  height: 56px;
  padding: 16px 42px;
  background: inherit;
  box-shadow: 0px 35px 50px -15px rgba(52, 128, 239, 0.3);
  border-radius: 100px;
  color: #fff;
  border: 1px solid #fff !important;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover {
    transform: translateY(-1px);
    opacity: 0.8;
  }

  &:active {
    transform: translateY(1px);
    color: rgba(255, 255, 255, 0.95);
  }
}

.wrapper {
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .container {
    width: 1200px;
  }
}

.not-found-page {
  width: 100%;
  background-color: #fbfbfd;
  user-select: none;

  .container {
    padding-top: 64px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .not-found {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #364256;
      margin-bottom: 44px;
    }
  }
}

.juzi-pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #c8d4e0;
    width: 44px;
    height: 44px;

    font-family: PingFang SC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #333333;
    user-select: none;
    pointer-events: visible;
    border-radius: 4px;
    cursor: pointer;

    &:not(:first-child) {
      margin-left: 8px;
    }

    &.left {
      transform: rotate(180deg);
    }

    &:hover {
      background-color: #fafafa;
    }

    &.active {
      border: 1px solid #0555ff;
      background-color: #0555ff;
      color: #fff;
    }

    &.disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        background-color: unset !important;
      }
    }
  }
}

.tabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .tab {
    padding: 8px 16px;
    color: #364256;
    font-family: PingFang SC;
    font-style: normal;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 4px;

    &:hover {
      background: #f9fafd;
    }

    &.active {
      background: rgba(5, 85, 255, 0.1);
      color: #0555ff;
    }

    &:not(:first-child) {
      margin-left: 16px;
    }
  }
}

.__react_component_tooltip {
  color: #fff !important;
  padding: 8px 12px !important;
  margin-left: 22px !important;
}

.contact-popup {
  width: 360px;
  height: 90px;
  background-color: #fff;
  box-shadow: 2px 2px 20px rgba(5, 85, 255, 0.15);
  border-radius: 16px;
  z-index: 98;
  position: fixed;
  border: 1px solid #eee;
  position: fixed;
  right: 180px;
  bottom: 230px;
  padding: 24px;
  color: #666;
  line-height: 1.5;
  font-size: 14px;

  strong {
    margin-bottom: 8px;
  }

  .close-btn {
    position: absolute;
    right: 14px;
    top: 13px;
    opacity: 0.5;
    cursor: pointer;
  }

  &::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background: #fff;
    position: absolute;
    top: calc(50% - 8px);
    right: -16px;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
  }
}

.contact-button-container {
  position: fixed;
  bottom: 220px;
  right: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 98;
  width: 100px;
  height: 100px;
  transform: scale(1.2);

  @keyframes circle {
    from {
      opacity: 1;
      transform: scale(0);
    }
    to {
      opacity: 0;
      transform: scale(1);
    }
  }

  .wave {
    animation: circle 2s infinite;
    position: absolute;
    border-radius: 50%;
    &.w2 {
      width: 80px;
      height: 80px;
      background-color: #0555ff;
      animation-delay: 0.3s;
      opacity: 0;
    }

    &.w1 {
      width: 100px;
      height: 100px;
      background-color: #0554ff91;
      animation-delay: 0.6s;
      opacity: 0;
    }
  }

  .contact-button {
    width: 60px;
    height: 60px;
    background-image: url('/_images/icons/robot.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 50%;
    background-color: #4697f5;
    position: absolute;
    z-index: 9;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(54, 66, 86, 0.1);
  }
}

.detention-modal {
  width: 350px;
  height: 220px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: calc(50% - 175px);
  top: calc(50% - 100px - 40px);
  box-shadow: 0px 8px 16px rgba(54, 66, 86, 0.1);
  background-color: #fff;
  z-index: 999;
  color: #333;
  padding: 16px 32px;

  .title {
    font-size: 20px;
    font-weight: bold;
    margin-top: 16px;
  }

  .content {
    margin-top: 16px;
    font-size: 15px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 36px;

    strong {
      color: #ff5e1e;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11px;

    .btn {
      width: calc(50% - 6px);
      padding: 12px 24px;
      border: 1px solid #eee;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      transition: all 0.3s;
      cursor: pointer;
      user-select: none;
      font-size: 14px;

      &:hover {
        opacity: 0.8;
      }

      &:active {
        transform: translateY(2px);
      }

      &.primary {
        background-color: #0555ff;
        color: #fff;
        border-color: #0555ff;
      }
    }
  }
}
