.header-bar {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 64px;
  transition: border-bottom 0.3s;
  overflow: hidden;

  .logo {
    user-select: none;
    margin-right: 24px;
  }

  &::before {
    content: '';
    width: calc(100% + 20px);
    left: -10px;
    position: absolute;
    height: 84px;
    top: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: -1;
    transition: all 0.3s;
  }

  &.opacity::before {
    filter: unset !important;
    backdrop-filter: unset !important;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &.about-us::before {
    background-color: unset !important;
  }

  &.has-bg::before {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  .container {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .header-left,
    .header-right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .header-right .menu-item {
      margin: 0 18px;
    }
  }
}

.menu-box {
  position: fixed;
  margin-top: 80px;
  z-index: 999;
  pointer-events: none;

  .container {
    .contact-menu {
      width: 260px;
      height: 280px;
      background-color: #fff;
      border: 1px solid #eee;
      transform: translateX(956px);
      box-shadow: 0 36px 70px -10px rgb(61 64 76 / 15%),
        0 18px 20px -10px rgb(61 64 76 / 5%);
      border-radius: 16px;
      z-index: 99;
      transition: opacity 0.3s;
      opacity: 0;

      &.visible {
        opacity: 1;
      }

      &.hidden {
        opacity: 0;
      }

      &::before {
        display: inline-block;
        content: '';
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #eee;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        z-index: -1;
      }

      .box {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 16px;
        position: absolute;
        pointer-events: none;
        user-select: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #364256;
          margin-top: 8px;
        }
      }
    }
  }
}
