.header-bar {
  position: fixed;
  top: 0;
  z-index: 99;
  height: 64px;
  transition: border-bottom 0.3s;
  overflow: hidden;

  .logo {
    user-select: none;
    margin-right: 24px;
  }

  &::before {
    content: '';
    width: calc(100% + 20px);
    left: -10px;
    position: absolute;
    height: 84px;
    top: -10px;
    background-color: rgba(255, 255, 255, 0.8);
    filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: -1;
    transition: all 0.3s;
  }

  &.opacity::before {
    filter: unset !important;
    backdrop-filter: unset !important;
    background-color: rgba(255, 255, 255, 0.9);
  }

  &.about-us::before {
    background-color: unset !important;
  }

  &.has-bg::before {
    background-color: rgba(255, 255, 255, 0.9) !important;
  }

  .container {
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;

    .header-left,
    .header-right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .header-right .menu-item {
      margin: 0 18px;
    }
  }
}

.menu-box {
  position: fixed;
  z-index: 999;
  pointer-events: none;

  .container {
    .contact-menu {
      width: 260px;
      height: 280px;
      background-color: #fff;
      border: 1px solid #eee;
      transform: translateX(880px);
      box-shadow: 0px 4px 16px rgba(5, 85, 255, 0.15);

      border-radius: 16px;
      z-index: 99;
      transition: opacity 0.3s;
      opacity: 0;

      &.visible {
        opacity: 1;
      }

      &.hidden {
        opacity: 0;
      }

      &::before {
        display: inline-block;
        content: '';
        width: 16px;
        height: 16px;
        background: #fff;
        border: 1px solid #eee;
        position: absolute;
        top: -10px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        z-index: -1;
      }

      .box {
        width: 100%;
        height: 100%;
        background-color: #fff;
        border-radius: 16px;
        position: absolute;
        pointer-events: none;
        user-select: none;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span {
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          color: #364256;
          margin-top: 8px;
        }
      }
    }
  }
}

.wework-bar {
  background: #fff;
  border-radius: 4px;
  padding: 8px 11px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgba(84, 101, 126, 0.1);
  cursor: pointer;
  user-select: none;
  margin-right: 8px;

  span {
    flex-shrink: 0;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    color: #54657e;
    margin-left: 8px;
  }
}

.dropdown-menu {
  width: 160px;
  background-color: #fff;
  // box-shadow: 0 36px 70px -10px rgb(61 64 76 / 15%),
  //   0 18px 20px -10px rgb(61 64 76 / 5%);
  box-shadow: 0px 4px 16px rgba(5, 85, 255, 0.15);
  border-radius: 16px;
  z-index: 99;
  transition: opacity 0.3s;
  position: fixed;
  pointer-events: auto;
  border: 1px solid #eee;
  height: 200px;
  opacity: 0;

  .dropdown-menu-item {
    width: 100%;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    pointer-events: auto;
    overflow: hidden;
    font-family: PingFang SC;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #364256;

    &:hover {
      color: #0555ff !important;
    }
  }

  .box {
    width: 100%;
    background-color: #fff;
    border-radius: 16px;
    position: absolute;
    pointer-events: none;
    user-select: none;
    padding: 22px 0;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &::before {
    display: inline-block;
    content: '';
    width: 16px;
    height: 16px;
    background: #fff;
    border: 1px solid #eee;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    z-index: -1;
  }
}
