.logos-wall {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-bottom: 100px;

    @keyframes infinityScrollLeft {
      0% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(-8600px, 0, 0);
      }
    }

    @keyframes infinityScroll {
      0% {
        transform: translate3d(-8600px, 0, 0);
      }
      50% {
        transform: translate3d(0, 0, 0);
      }
      100% {
        transform: translate3d(-3500px, 0, 0);
      }
    }

    .title {
      color: #384254;
      text-align: center;
      font-family: PingFang SC;
      font-style: normal;
      font-weight: 600;
      font-size: 26px;
      line-height: 64px;
      margin: 22px 0;
    }

    .logo-wall {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      height: 100px;
      user-select: none;

      .scroll-mask {
        content: '';
        z-index: 1;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        left: 0;
        background-image: linear-gradient(
          90deg,
          #fff,
          hsla(0, 0%, 100%, 0),
          hsla(0, 0%, 100%, 0),
          hsla(0, 0%, 100%, 0),
          hsla(0, 0%, 100%, 0),
          #fff
        );
        pointer-events: none;
        position: absolute;
      }

      .logos-scroll-bar {
        animation: infinityScrollLeft 120s linear infinite normal;

        &:nth-child(2) {
          animation-name: infinityScrollLeft;
        }
        display: flex;

        .logo {
          width: 220px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: all 0.3s;
          flex-shrink: 0;

          .logo-item {
            width: 180px;
            height: 80px;

            img {
              width: 100%;
              height: 100%;
            }

            &:hover {
              filter: grayscale(0%);
              opacity: 1;
            }
          }
        }
      }
    }
  }
}
