.box{
  :global{
    .ant-modal-content{
      border-radius: 20px;
      overflow: hidden;
    }
    .ant-modal-body{
      min-height: 400px;
      padding: 0 !important;
      background: linear-gradient(rgba(102, 71, 255, 0.1), rgba(5, 85, 255, 0), white);
    }
  }
}
.content{
  overflow: auto;
  max-height: 85vh;
}

.input{
  background-color: #FAFAFA !important;
  border-radius: 4px !important;
  border: 1px solid #EEEEEE !important;
  color: red;
}

.submit{
  box-shadow: 0px 35px 50px -15px rgba(52, 128, 239, 0.3)
}

.confirmModal{
  :global{
    .ant-modal-confirm-btns{
      text-align: center !important;
    }
  }
}
.cancelButton{
  width: 136px;
  height: 48px;
  background: #0555FF !important;
  border-color: #0555FF !important;
  font-weight: 500;
}

.okButton{
  width: 136px;
  height: 48px;
  font-weight: 500;
  &:hover{
    color: #0555FF !important;
    border-color: #0555FF !important;
  }
}

.ContactFormSubmit {
  box-shadow: 0px 35px 50px -15px rgba(255, 5, 5, 0.3) !important;
}